fastapi
uvicorn[standard]
python-dotenv
httpx
presidio-analyzer
presidio-anonymizer
spacy
streamlit
pandas
reportlab
pytest
PyJWT
cryptography
bcrypt<5
passlib[bcrypt]
python-multipart
pypdf
python-docx
psycopg2-binary>=2.9
sqlalchemy>=2.0
